.vsrg-player-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
}

.vsrg-player-grid {
    opacity: 0.96;
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: flex-end;
    grid-template-areas:
        'a'
        'b';
    perspective: 100vh;
    grid-template-rows: 1fr min-content;
}

.vsrg-player-canvas {
    position: absolute;
    bottom: 0;
    width: 50vw;
    /* height: 190vh; magic number */
    height: 100vh;
    max-width: 35rem;
    background-color: var(--background-darken-10);
    border-left: solid 2px var(--secondary);
    border-right: solid 2px var(--secondary);
    /* transform-origin: bottom;
    transform: rotateX(35deg); */
    display: flex;
}

.vsrg-player-countdown {
    position: absolute;
    top: 50%;
    left: calc(50% - 2.5rem);
    font-size: 5rem;
    width: 5rem;
    font-weight: bold;
    text-shadow: 0 0 0.5rem #252525;
    transition: all 0.1s;
}

.vsrg-player-canvas canvas {
    position: absolute;
    border-radius: 0.6rem;
}

.vsrg-player-right {
    position: absolute;
    padding: 1rem;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
}

.vsrg-player-keyboard-circles,
.vsrg-player-keyboard-line {
    position: absolute;
    bottom: 0;
    display: flex;
    z-index: 2;
    width: 50vw;
    max-width: 35rem;
}

.vsrg-player-keyboard-circles{
    /* transform: rotateX(35deg) translateZ(-4.5vh); magic number */
}
.vsrg-player-key-hitbox-circle,
.vsrg-player-key-hitbox-line {
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    flex: 1;
}

.vsrg-player-key-hitbox-line {
    height: 50vh;
    display: flex;
    align-items: flex-end;
}
.vsrg-player-key-hitbox-line:nth-child(odd){
    filter: brightness(0.8);
}
.vsrg-player-key-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    color: var(--background-text);
    width: 100%;
    height: 100%;
    border-radius: 50rem;
    outline: solid 3px var(--secondary);
}

.vsrg-player-key-line {
    width: 100%;
    height: 100%;
    background-color: var(--secondary);
}

.vsrg-key-pressed {
    background-color: var(--accent);
    color: var(--accent-text);
}

.vsrg-player-loading-instruments {
    position: absolute;
    bottom: calc(5vw + 2rem);
    width: 100%;
    left: 0;
    text-align: center;
    font-size: 1.6rem;
    color: var(--background-text);
    text-shadow: 0 0 0.5rem #252525;
}

.vsrg-player-score {
    min-width: 5rem;
    margin-bottom: 2rem;
    text-shadow: 0 0 0.5rem #252525;
    font-size: 1.4rem;
    color: var(--background-text);
}

.vsrg-floating-score {
    position: absolute;
    top: 70%;
    width: 12rem;
    left: calc(50% - 6rem);
    pointer-events: none;
    text-align: center;
    font-size: 2.4rem;
    font-weight: bold;
    text-shadow: 0 0 0.5rem #252525;
}

@media only screen and (max-width: 900px) {
    .vsrg-floating-score {
        font-size: 1.8rem;
        top: 65%;
    }
}