
.midi-inputs{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.midi-inputs button{
    width: 100%;
    background-color: var(--primary);
    color: var(--primary-text);
}
.midi-setup-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: auto;
}
.midi-shortcuts-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
}

.midi-shortcuts{
    display: flex;
    gap: 0.2rem;
    flex-wrap: wrap;
    width: 100%;
}
.midi-shortcut{
    margin: 0.2rem;
    transition: all 0.1s;
    padding: 0.2rem 0.5rem;
    font-size: 1rem;
}

.midi-shortcut.wrong{
    background-color: var(--red);
}
.midi-shortcut.right{
    background-color: rgb(53, 138, 85);
}
.midi-shortcut.clicked{
    transform: scale(0.95);
    background-color: var(--secondary);
}
.midi-shortcut.selected{
    background-color: var(--accent);
}

@media screen and (max-width:920px) {
    .midi-setup-column{
        width: 100%;
    }
}