.canvas-wrapper {
    background-color: var(--primary);
    gap: 0.2rem;
    justify-content: center;
    display: flex;
    border-radius: 0.4rem;
    align-items: center;
    align-items: center;
    flex-direction: column;
}
.canvas-relative{
    position: relative;
    display: flex;
    z-index: 0;
    width: 100%;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
    overflow: hidden;
}
select {
    -webkit-appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24' fill='gray'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 100%;
}

.right-panel-composer {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.2rem;
}

.note-composer {
    width: 5vw;
    height: 5vw;
    border-width: 0.4vw;
    z-index: 2;
}

.note-composer-sky {
    z-index: 2;
}

.composer-grid {
    display: grid;
    padding: 0.2rem;
    grid-template-columns: min-content;
    gap: 0.2rem;
    grid-template-areas:
        "a b b"
        "a c c"
    ;
}

.song-info {
    position: absolute;
    bottom: 0.5vw;
    left: calc(4rem + 0.5vw);
    color: var(--background-text);
    display: flex;
    flex-direction: column;
    gap: 0.2rem;

}

.composer-keyboard-wrapper {
    grid-area: c;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 1vh;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.composer-keyboard-wrapper .keyboard{
    margin: unset;
    z-index: 1;
}
.song-info div {
    max-width: 23vw;
    text-shadow: rgb(51 51 51) 0px 1px 5px
}

.top-panel-composer {
    display: flex;
    flex-direction: row;
}

.tool-slim,
.tool {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 0.3rem;
    color: var(--icon-color);
    background-color: var(--primary-darken-10);
    cursor: pointer;
    margin: 0;
}

.tool {
    width: 4vw;
}

.tool-icon {
    width: 1rem;
    height: 100%;
}

.tool:hover,
.tool-slim:hover {
    filter: brightness(1.1);
}

select {
    cursor: pointer;
}

.not-saved {
    background-color: var(--accent) !important;
    color: var(--accent-text) !important;
}

.timeline-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    margin: 0.2rem 0;
    margin-top: 0;
    align-items: center;
}

.timeline-button {
    height: 100%;
    padding: 0;
    width: 2.2rem;
    margin: 0.2rem;
    background-color: var(--primary);
    border: none;
    color: var(--icon-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
    cursor: pointer;
}



.timeline-scroll {
    display: flex;
    width: 100%;
    overflow: hidden;
    border-radius: 0.3rem;
}


.timeline-scroll canvas {
    width: 100% !important;
}

.buttons-composer-wrapper,
.buttons-composer-wrapper-right {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    gap: 0.2rem;
    margin-left: 0.2rem;
}

.buttons-composer-wrapper-right {
    grid-template-rows: repeat(4, 1fr);
}


.tools-icon{
    font-size: 1.2rem;
}
.tools-button{
    background-color: var(--primary);
    color: var(--primary-text);
    border-radius: 0.3rem;
    padding: 1.1rem;
    border: none;
    font-size: 1rem;
    gap: 0.5rem;
    justify-content: flex-start;
    cursor: pointer;
}

.tools-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.tools-button:hover {
    filter: brightness(1.1);
}
.tools-button:disabled, .tools-right button:disabled {
    cursor: not-allowed;
    opacity: 0.7;
    filter: unset;
}


.tools-button-highlighted {
    background-color: var(--accent) !important;
}

.tools-buttons-grid {
    display: grid;
    grid-template-areas: 
                "a a b b"
                "a a c c"
                "d d e e"
                "f f g g";
    flex: 1;
    gap: 0.6rem;
}

.floating-tools {
    position: fixed;
    bottom: -50vh;
    max-height: 45vh;
    min-width: 36vw;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 0.5rem;
    box-shadow: -2px -1px 27px 4px rgba(0, 0, 0, 0.25);
    background-color: var(--menu-background);
    z-index: 10;
    opacity: 0;
    border: solid 2px var(--secondary);
    transition: all 0.4s;
    transform: scale(0.6);
    padding: 0.6rem;
    color: white;
}
.tools-right{
    margin-left: 1rem;
    padding-left: 1rem;
    border-left: solid 2px var(--secondary);
}

.tools-right .app-button{
    min-width: unset;
    display: flex;
    align-items: center;
    padding: 0.5rem 0.7rem;
}
.tools-visible {
    bottom: 1.4rem;
    transform: scale(1);
    opacity: 1;
    animation: delayBackdrop 0.4s;
    animation-fill-mode: forwards;
}



.tempo-changers-wrapper {
    position: absolute;
    color: white;
    right: 0.2rem;
    bottom: 0.2rem;
    flex-direction: column;
    width: 4rem;
    gap: 0.2rem;
    display: flex;
}
.tempo-changers-wrapper-hidden{
    display: none;
}

.bottom-right-text {
    text-align: center;
    width: 100%;
    color: var(--background-text);
    text-shadow: rgb(51, 51, 51) 0px 1px 5px;
    font-size: 0.8rem;
}

.note-composer svg {
    z-index: 2;
}

.layer-1 {
    background-color: #d3bd8e !important;
    border-color: #ab9361 !important;
}

.layer-1 .svg-note {
    fill: #f2ecec !important;
    stroke: #f2ecec !important;
}

.layer-1 .genshin-border {
    fill: #f2ecec !important;
    stroke: #f2ecec !important;
}

.layer-1 .note-name {
    color: white !important;
}

.layer-2,
.layer-2 .genshin-border {
    border-color: #de6b45 !important;
    fill: #de6b45 !important;
    stroke: #de6b45 !important;
}
.layer-3-ball, .layer-3-ball-bigger{
    position: absolute;
    background-color: #d75c5c;
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 50%;
    visibility: hidden;
}
.layer-4-line{
    height: 20%;
    width: 100%;
    position: absolute;
    background-color: #d75c5c;
    border-radius: 0.2vw;
    visibility: hidden;
}
.note-composer.layer-3 .svg-note{
    fill: #f2ecec !important;
    stroke: #f2ecec !important;
}
.layer-3 .layer-3-ball,.layer-3 .layer-3-ball-bigger{
    visibility: visible;
}
.layer-4 .layer-4-line{
    visibility: visible;
}
.layer-3-ball-bigger{
    width: 2.6vw;
    height: 2.6vw;
}
.note-composer .layer-3-ball-bigger{
    width: 3vw;
    height: 3vw;
}


canvas {
    cursor: pointer !important;
}

.tempo-changers-wrapper button {
    flex: 1;
    border-radius: 0.2rem;
    border: none;
    font-size: 1rem;
    color: white;
    padding: 0.4rem 0;
    margin: 0;
    filter: brightness(1.1);
    cursor: pointer;
}

.tempo-changers-wrapper button:hover,
.layer-button:hover {
    filter: brightness(1.1);
}



.tempo-changers-wrapper button:focus {
    filter: brightness(1.3);
}

.layer-buttons-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    margin-right: 2vw;
    justify-content: center;
}
.composer-left-control{
    grid-area: a;
    width: 6.2rem;
    height: calc(100vh - 5rem);
}
.instrument-name-button{
    padding: 0;
    font-size: 0.8rem;
}
.instruments-button-wrapper {
    overflow-y: auto;
    overflow-x: hidden;
    background-color: var(--primary-darken-10);
    border-radius: 0.3rem;
    margin-top: 0.2rem;
    z-index: 2;
}
.new-instrument-button{
    padding: 0.4rem;
    background-color: var(--primary-darken-10);
    margin-top: auto;
    align-items: center;
}
.instruments-button-wrapper::-webkit-scrollbar-thumb {
	background: var(--secondary);
}
.instrument-button {
    height: 3rem;
    min-height: 3rem;
    position: relative;
    flex-direction: column;
    border-radius: 0.3rem;
    border-bottom: solid 2px var(--secondary);
    border-radius: 0;
}
.instrument-button-selected{
    height: 4.2rem;
    min-height: 4.2rem;
}
.instrument-settings {
    font-size: 0.8rem;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
}
.instrument-settings .app-button{
    padding: 0.1rem;
    background-color: transparent;
    min-width: unset;
    flex: 1;
}
.floating-instrument-settings{
    position: absolute;
    width: 17rem;
    background-color: var(--menu-background);
    color: var(--menu-background-text);
    display: flex;
    flex-direction: column;
    padding: 0.6rem;
    border-radius: 0.4rem;
    border: solid 2px var(--secondary);
    top: 3.4rem;
    margin-left: 6.6rem;
    z-index: 10;
    animation: fadeIn 0.2s;
}
.instrument-settings-button {
    flex: 1;
    margin: 0.2rem;
}


.floating-midi {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    bottom: 0.5rem;
    height: 48vh;
    border-radius: 0.5rem;
    padding: 0.8rem;
    background-color: var(--menu-background);
    border: solid 2px var(--secondary);
    color: var(--menu-background-text);
    max-width: 60vw;
    min-width: 45vw;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: auto;
    animation: fadeIn 0.2s;
}


.floating-midi * {
    font-size: 0.9rem;
}

.midi-table {
    margin-bottom: 0.1rem;
}

.midi-table-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.3rem;
}

.floating-midi::-webkit-scrollbar-thumb {
    background: var(--icon-color);
    border-radius: 2px;
}

/* Handle on hover */
.floating-midi::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.midi-btn,
.midi-btn-small,
.midi-btn-green {
    background-color: #576377;
    color: white;
    border-radius: 0.2rem;
    padding: 0.5rem 1rem;
    border: none;
    height: -moz-fit-content;
    height: fit-content;
    cursor: pointer;
    min-width: 5rem;
}

.midi-btn-green:active {
    filter: brightness(1.1);
}

.midi-btn-small {
    min-width: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-weight: bold;
    height: 2rem;
    width: 2rem;
    font-size: 1.2rem;
}

.midi-btn-green {
    background-color: rgb(98, 140, 131);
}

.midi-btn-green:disabled {
    opacity: 0.8;
    filter: brightness(0.8);
    cursor: not-allowed;
}

.midi-track-data {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    padding: 0.4rem;
    border-radius: 0.2rem;
}

.midi-track-data-row {
    display: flex;
    flex-direction: row;
    margin-top: 0.2rem;
    justify-content: space-between;
}

.midi-track-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.midi-track-column {
    background: var(--primary);
    padding: 0.3rem 0.5rem;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: column;
    margin-top: 0.3rem;
    width: 100%;
}

.midi-track-center {
    display: flex;
    align-items: center;
}

.midi-track-center *:not(:last-child) {
    margin-right: 0.5rem;
}

.midi-row,
.midi-column {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.separator-border {
    margin-bottom: 0.25rem;
    padding-bottom: 0.25rem;
    border-bottom: solid 2px var(--secondary);
}

.midi-column {
    flex-direction: column;
}

.midi-input,
.midi-select {
    width: 4rem;
    border: none;
    background-color: var(--primary);
    height: 1.9rem;
    border-radius: 0.2rem;
    color: var(--primary-text);
    text-align: center;
    outline: none;
}

.midi-select {
    width: 5.6rem;
    text-align: left;
    padding: 0.5rem;
    padding: 0.2rem;
    padding-left: 0.5rem;
}
.midi-track-offset::placeholder{
    font-size: 0.7rem;
    color: var(--primary-text);
}
.canvas-buttons{
    height: 100%;
    position: absolute;
    top: 0;
    background-color: var(--primary);
    color: var(--icon-color);
    display: none;
    align-items: center;
    cursor: pointer;
    border: none;
    padding: 0;
    display: none;
    font-size: 2rem;
    opacity: 0;
    transition: opacity 0.1s;
}

@media (hover: none) and (pointer: coarse) {
    .canvas-buttons{
        display: flex;
    }
    .canvas-buttons-visible{
        display: flex;
        opacity: 1;
    }
}
@media only screen and (max-width: 900px) {
    .canvas-buttons{
        display: flex;
    }
    .canvas-buttons-visible{
        display: flex;
        opacity: 1;
    }
    .floating-instrument-settings{
        top: 1.2rem;
        padding: 0.5rem;
    }
    .buttons-composer-wrapper,
    .buttons-composer-wrapper-right {
        flex: 1;
    }
    .tools-right{
        padding-left: 0.6rem;
        margin-left: 0.6rem;
    }
    .floating-tools {
        max-height: 50vh;
        padding: 0.4rem;
    }
    .tools-visible{
        bottom: 0.2rem;
    }
    .tools-icon{
        font-size: 1.1rem;
    }
    .tools-buttons-grid{
        gap: 0.3rem;
    }
    .tools-button{
        font-size: 0.9rem;
        padding: 0.55rem 0.8rem;
        gap: 0.4rem;
    }

    .song-info div {
        max-width: 20vw;
    }

    .floating-midi {
        padding: 0.4rem;
        bottom: 0.2rem;
        height: 50vh;
        max-width: 70vw;
        width: 70vw;
    }

    .song-info {
        font-size: 0.9rem;
    }

    .tool {
        flex: 1;
        width: 100%;
        max-width: unset;
    }

    .button-hitbox {
        padding: 0.7vh;
    }

    .layer-button {
        font-size: 0.7rem;
    }

    .tempo-changers-wrapper button {
        font-size: 0.7rem;
        padding: 0.5rem;
    }

    .note-composer {
        width: 5.5vw;
        height: 5.5vw;
    }

    .keyboard {
        gap: 0rem;
        grid-gap: 0rem;

    }
    .composer-grid {
        width: 100%;
    }
    .composer-left-control{
        width: 5.4rem;
    }
    .instrument-button{
        height: 2.6rem;
        min-height: 2.6rem;
    }
    .instrument-button-selected{
        height: 3.5rem;
        min-height: 3.5rem;
    }
    .instrument-name-button{
        align-items: flex-end;
        padding-bottom: 0.4rem;
    }
    .new-instrument-button{
        padding: 0;
        padding-bottom: 0.3rem;
    }
    .layer-3-ball{
        width: 1.5vw;
        height: 1.5vw;
    }
}

@media only screen and (max-width: 600px) {

    .song-info {
        font-size: 0.8rem;
    }

    .layer-button {
        font-size: 0.8rem;
        padding: unset;
    }

    .tempo-changers-wrapper {
        gap: 0.6vh;
    }

    .tempo-changers-wrapper button {
        font-size: 0.6rem;
    }
}