.canvas-wrapper{
    background-color: #495466;
    gap: 0.2rem;
    padding: 0.2rem;
    justify-content: center;
    display: flex;
    border-radius: 0.5rem;
    align-items: center;
    flex-direction: column;
}
.right-panel-composer{
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    padding: 1vh;
    margin-left: 5rem;
  }
  .note-composer{
    width: 4vw;
    height: 4vw;
    border-width: 5px;
}
.song-info{
    position: fixed;
    bottom: 1rem;
    left: 6rem;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}
.top-panel-composer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.tool-slim, .tool{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
    border-radius: 0.3rem;
    color: #d3bd8e;
    background-color: var(--primary);
    cursor: pointer;
}
.tool{
    min-width: 2rem;
}
.settings-row{
    display: flex;
    justify-content: space-between;
    padding: 0.3rem;
    border-radius: 0.2rem;
    background-color: #d3bd8e;
    color: black;
    align-items: center;
    margin-bottom: 0.4rem;
}
.settings-row div{
    display: flex;
    align-items: center;
}
.not-saved{
    background-color: #ac5d65 !important;
}
.settings-row :is(input,select){
    background-color: var(--primary);
    color: white;
    border: none;
    text-align: center;
    width: fit-content;
    width: 8rem;
    padding: 0.2rem;
    border-radius: 0.2rem;
}
.buttons-composer-wrapper{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 0 0.2rem;
        gap: 0.2rem;
}
.tempo-changers-wrapper{
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    flex-direction: column;
    width: 4rem;
    gap: 0.2rem;
    display: flex;
}
.tempo-changers-wrapper button{
    flex: 1;
    border-radius: 0.2rem;
    border: none;
    color: white;
    padding: 0.2rem;
    filter: brightness(1.1);
}
@media only screen and (max-width: 900px) {
    .note-composer{
        width: 5vw;
        height: 5vw;
    }
    .keyboard{
        gap: 0.1rem;
        grid-gap: 0.1rem;

    }
}