.home {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	overflow-y: auto;
	position: fixed;
	width: 100%;
	padding: 1rem 25vw;
	background-color: rgba(60, 68, 83, 0.9);
	backdrop-filter: blur(4px);
	z-index: 100;
	color: var(--whitish);
	transition: all 0.2s ease-out;
	animation: 0.15s home-appear ease-out;
	opacity: 0;
	transform: scale(0.9);
	backdrop-filter: blur(4px);
}
@keyframes home-appear {
	0% {
		opacity: 0.5;
		backdrop-filter: none;
		transform: scale(0.9);
	}
	100% {
		opacity: 1;
		backdrop-filter: none;
		transform: scale(1);
	}
}
.home-visible {
	opacity: 1;
	backdrop-filter: blur(4px);
	transform: scale(1);
}
.home-spacing{
	margin-bottom: 0.3rem;
}
.close-home {
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	width: 2.5rem;
	height: 2.5rem;
	padding: 0.5rem;
	color: var(--whitish);
	border-radius: 0.5rem;
	background-color: #606c82;
	cursor: pointer;
}
.home-dont-show-again {
	position: fixed;
	display: flex;
	
	align-items: center;
	bottom: 0.5rem;
	right: 0.5rem;
}
.home-bottom{
	padding-top: 0.5rem;
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: flex-end;
	width: 100%;
	font-size: 0.8rem;
}

.home-content {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 1rem;
	justify-items: center;
	width: 100%;
	margin-top: 2rem;
}
.home-content-element {
	width: 100%;
	min-height: 10rem;
	background-color: #515c6f;
	border-radius: 0.5rem;
	position: relative;
	overflow: hidden;
	transition: all 0.15s ease-out;
	max-width: 20rem;
	cursor: pointer;
}
.home-content-element:hover {
	transform: scale(1.03);
}
.home-welcome{
	font-size: 0.9rem;
	background-color: rgb(47, 52, 63);
	padding: 0.5rem;
	border-radius: 0.5rem;
	animation: welcome-flash infinite 8s;
    outline: 2px dashed var(--secondary);
    outline-offset: 2px;
}

@keyframes welcome-flash {
	0%{
		background-color: rgb(47, 52, 63);
	}
	30%{
		background-color: rgb(55, 61, 71);
	}
	70%{
		background-color: rgb(55, 61, 71);
	}
	100%{
		background-color: rgb(47, 52, 63);
	}
}
.home-accept-storage{
	border: none;
	padding: 0.4rem 1rem;
	border-radius: 0.2rem;
	background-color: limegreen;
	color: white;
	margin-top: 0.5rem;
	cursor: pointer;
}

.home-content-main {
	padding: 0.5rem;
	display: flex;
	position: absolute;
	flex-direction: column;
	background-color: rgba(47, 52, 63, 0.9);
	width: 100%;
	height: 100%;
	transition: all 0.2s ease-out;
}
.home-content-element:active {
	transform: scale(0.97);
	transition: all 0.1s ease-out;
}
.home-content-main:hover {
	background-color: rgba(53, 58, 70, 0.9);
}

.home-content-background {
	position: absolute;
	height: 100%;
	width: 100%;
	background-size: cover;
	overflow: hidden;
}

.home-content-title {
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: solid 1px var(--secondary);
	width: 100%;
	padding-bottom: 0.3rem;
	font-size: 1.2rem;
}

.home-content-title svg {
	margin-right: 0.5rem;
}
.home-content-text {
	font-size: 0.8rem;
	margin-top: 0.25rem;
	padding: 0.25rem;
	text-align: center;
	line-height: 1rem;
}
.home-content-open {
	display: flex;
	justify-content: center;
	margin-top: auto;
	padding-top: 0.3rem;
}
.page-redirect-wrapper {
	margin-top: 0.5rem;
	width: 100%;
}
.page-redirect-wrapper button {
	background-color: #606c82;
	border-radius: 0.5rem;
	border: none;
	color: var(--whitish);
	padding: 0.4rem 1rem;
	font-size: 0.9rem;
	margin-left: 0.8rem;
	margin-bottom: 0.8rem;
	cursor: pointer;
	transition: all 0.1s linear;
}
.page-redirect-wrapper button:hover {
	background-color: #6b788f;
}
.home-content-open button {
	padding: 0.4rem 1.5rem;
	background-color: var(--note-text);
	border-radius: 0.5rem;
	font-size: 0.8rem;
	color: #161514;
	border: none;
	cursor: pointer;
}
.home-top {
	text-align: center;
	margin-bottom: 1rem;
}
.home-title {
	font-size: 2rem;
}
.home-top-text {
	font-size: 0.8rem;
	color: #b0ada8;
}
.redirect-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.home-separator {
	border-top: 1px solid var(--composer-tool);
	margin-top: 1rem;
	font-size: 1.1rem;
	padding-top: 0.5rem;
	width: 100%;
}
.redirect-button {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 1rem 2rem;
	cursor: pointer;
}
.redirect-icon {
	width: 5rem !important;
	height: 5rem !important;
	padding: 1rem;
	border-radius: 1rem;
	background-color: #515c6f;
	margin-bottom: 0.5rem;
}
@media only screen and (max-width: 900px) {
	.home {
		padding: 0.6rem 15vw;
	}
	.home-dont-show-again {
		font-size: 0.8rem;
	}
	.home-content {
		margin-top: 1rem;
	}
}
