.theme-row{
    margin-top: 0.5rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
    min-height: 3rem;
    border-radius: 0.4rem;
    padding: 0 0.6rem;
    transition: all 0.1s;
}
.color-preview{
    border: solid 3px;
    border-radius: 0.5rem;
    overflow: hidden;
    width: 5rem;
    height: 3rem;
    -webkit-appearance: none;
}

.color-preview{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    cursor: pointer;
}
.color-input-wrapper{
    margin-left: 2rem;
    display: flex;
    align-items: center;
    position: relative;
}
.color-input::-webkit-color-swatch-wrapper {
    padding: 0;
}
.color-input::-webkit-color-swatch {
    border: none;
}
.theme-reset, .theme-save{
    padding: 0.4rem 0.6rem;
    font-size: 0.8rem;
    margin: 0;
    width: 5rem;
    margin-right: 1rem;
}
.theme-save{
    animation: pulse infinite 2s;
}
.theme-reset.active{
    background-color: var(--accent);
    color: var(--accent-text);
}
.theme-app-preview{
    position: relative;
    margin-top: 1.25rem;
    border: dashed 4px var(--accent);
    border-radius: 0.4rem;
    overflow: hidden;
    height: 70vh;
}
.theme-app-preview .side-menu{
    position: absolute;
}
.theme-app-preview .keyboard{
    transform: scale(0.8) !important;
}
.color-picker{
    position: absolute;
    padding: 0.3rem;
    border-radius: 0.6rem;
    background-color: #efeff0;
    z-index: 2;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 1px 1px 5px #45455994;
    animation: show 0.2s;
    width: 13.6rem;
}

.color-picker-input{
    display: flex;
    align-items: center;
    margin: 0;
    width: calc(100% - 4.6rem);
    box-sizing: border-box;
    border: none;
    border-radius: 0.4rem;
    font-size: 1rem;
    box-shadow: -1px -1px 5px rgb(0, 0, 0, 0.2);
}
.color-picker-input *{
    transform: translateY(0.05rem);
}
.color-picker-input input{
    padding: 0.4rem;
    display: flex;
    margin: 0;
    width: 100%;
    background-color: transparent;
    box-sizing: border-box;
    outline: none;
    border: none;
}
.color-picker-row{
    display: flex;
    height: 2rem;
    margin-top: 0.3rem;
}
.color-picker-check{
    width: 2rem;
    height: 2rem;
    border-radius: 0.4rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-left: 0.3rem;
    padding: 0;
    cursor: pointer;
    box-shadow: -1px -1px 5px rgb(0, 0, 0, 0.2);

}

.new-theme{
    width: 100%;
    height: 100%;
    border-radius: 0.6rem;
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    align-items: center;
    justify-content: center;
    border: solid 3px var(--accent);
    cursor: pointer;
    background-color: transparent;
    color: var(--accent);
    min-height: 8rem;
}

.react-colorful{
    border-radius: 0.5rem !important;
    width: 13rem !important;
    height: 13rem !important;
    box-shadow: -1px -1px 5px rgb(0, 0, 0, 0.2);
}
.react-colorful__pointer{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.react-colorful__pointer-fill{
    position: unset !important;
    width: 90%;
    height: 90%;
}

.theme-preview-wrapper{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 0.8rem;
    margin-top: 1rem;
}
.theme-preview{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    border-radius: 0.6rem;
    transition: filter 0.2s;
    cursor: pointer;
    overflow: hidden;
    min-height: 8rem;

}

.theme-preview:hover{
    filter: brightness(1.1);
}

.theme-input{
    background-color: var(--primary);
	color: var(--primary-text);
	border-radius: 0.2rem;
	padding: 0.5rem 1rem;
	border: none;
	height: fit-content;
	cursor: text;
	min-width: 5rem;
}
.theme-input:disabled{
    filter: brightness(0.8);
    cursor: not-allowed;
}
.theme-input::placeholder{
    color: var(--primary-text);
}
.theme-preview-row{
    display: flex;
    justify-content: space-between;
    margin: 0 0.4rem;
    padding: 0.4rem 0.2rem;
}
.theme-preview-colors{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1;
}
.theme-preview-colors div{
    flex: 1;
    font-size: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
@keyframes show {
    from{
        opacity: 0;
        transform: scale(0.95);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes pulse {
    0%{
        background-color: var(--primary);
    }
    50%{
        background-color: var(--red);
    }
    100%{
        background-color: var(--primary);
    }
}
@media  (max-width:920px) {
    .theme-row{
        margin-top: 0.5rem;
    }
    .theme-app-preview{
        height: calc(100vh - 3rem);
    }
}