.switch-wrapper{
    border-radius: 10rem;
    width: 2.4rem;
    height: 1.4rem;
    padding: 0.15rem;
    cursor: pointer;
    border: 0;
    background: var(--primary);
	color: var(--primary-text);
}
.switch-inner{
    background-color: var(--hint-main);
    border: 0.1rem solid var(--accent);
    width: 1.1rem;
    height: 1.1rem;
    border-radius: 100%;
    transition: all 0.2s cubic-bezier(0, 0, 0.14, 0.88);
}
.switch-inner-on{
    background-color: var(--accent);
    margin-left: calc(100% - 1.1rem);
}
