.partners-page {
    padding: 1rem;
    padding-left: 4rem;
}

.partner-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
}

.partner {
    width: 100%;
    min-height: 11rem;
    height: fit-content;
    border-radius: 0.5rem;
    background-color: var(--primary);
    color: var(--primary-text);
    overflow: hidden;
    transition: all 0.2s ease-out;
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.6rem;
    margin: 0.5rem;
}

.partner iframe {
    border-radius: 0.3rem;
    width: 18.8rem;
    height: 10.5rem;
}

.partner-description {
    width: 100%;
    margin-top: 0.4rem;
    border-top: 1px solid var(--icon-color);
    font-size: 0.9rem;
    padding: 0.4rem;
}

.partner-title {
    font-size: 1.2rem;
    color: var(--primary-text);
}