:root {
	--primary: #495466;
	--primary-text: #ede5d8;
	--secondary: #8c7063;
	--secondary-text: #ede5d8;
	--background: #394248;
	--background-text: #ede5d8;
	--accent: #63aea7;
	--accent-text: #151414;
	--menu-background: rgba(237, 229, 216, 0.95);
	--menu-background-text: ;
	--icon-color: #d3bd8e;
	--icon-color-text: #151414;
	--note-background: #fff9ef;
	--note-background-text: #aaaa82;
	--clicked-note: #8fedd9;
	--whitish: #ede5d8;
	--hint-main: #949494;
	--red: rgb(169, 82, 90);
	--green: #358a55;
}
@font-face {
	font-family: Bonobo;
	src: url("../assets/font/BonoboBold.ttf");
}
@font-face {
	font-family: Cronos;
	src: url("../assets/font/Cronos.otf");
}
.loading {
	color: var(--background-text);
	font-size: 2rem;
	grid-row: 1;
	grid-column: 2/-1;
}
html,
body {
	width: 100%;
	height: 100%;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	overscroll-behavior-y: contain;
	touch-action: pan-x pan-y;
}
body {
	position: absolute;
	-webkit-text-size-adjust: none;
	background-color: var(--background);
	color: var(--background-text);
}

.keyboard-key {
	padding: 0.2rem 0.4rem;
	border-radius: 0.2rem;
	min-width: 2rem;
	text-align: center;
	margin-bottom: 0.1rem;
	background-color: var(--primary);
	color: var(--primary-text);
	width: 10rem;
	display: inline-block;
}
.keys-table :nth-child(2) {
	width: 100%;
}

input {
	accent-color: var(--accent);
}
*:not(input) {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	box-sizing: border-box;
	font-family: Bonobo;
	outline: none;
	-webkit-tap-highlight-color: transparent;
}
body {
	background-color: var(--background);
}
.disabled {
	filter: brightness(0.7);
}

.keyboard-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
}
#root {
	width: 100%;
	height: 100%;
}
.app,
.app-content {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.app-content {
	z-index: 2;
}
.app-button {
	background-color: var(--primary);
	color: var(--primary-text);
	border-radius: 0.2rem;
	padding: 0.5rem 1rem;
	border: none;
	height: fit-content;
	cursor: pointer;
	min-width: 5rem;
	transition: background-color 0.2s, color 0.2s;
}
.link{
	color: var(--background-text);
}
.app-button::placeholder{
	color: var(--primary-text);
}
.app-button:hover {
	filter: brightness(1.1);
}
.app-button.active {
	background-color: var(--accent) !important;
	color: var(--accent-text) !important;
}
.app-button:disabled{
	filter: brightness(0.8);
	cursor: not-allowed;
}
.selected {
	transition: all 0.3s;
	background-color: var(--accent);
	color: var(--accent-text);
}
.right-panel {
	flex: 1;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.index {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
}
.hidden {
	display: none !important;
}
.slider-select {
	width: 3rem;
	font-size: 0.8rem;
	height: 2rem;
	text-align: center;
	font-weight: bold;
	border: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-appearance: none;
	background-image: none;
	border-radius: 0.3rem;
	background-color: var(--primary);
	color: var(--primary-text);
	margin-left: 0.5rem;
}
.hidden-opacity {
	opacity: 0;
	pointer-events: none;
}
.slider-wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	transition: all 0.3s;
	opacity: 1;
	margin-top: 1.6rem;
	margin-left: 3.5rem;
}

.slider-wrapper button {
	margin: 0;
}
.upper-right {
	display: flex;
	width: 100%;
	justify-content: center;
}

.red {
	background-color: red;
}
.floating-prompt {
	position: absolute;
	margin-right: auto;
	margin-left: auto;
	top: 2rem;
	display: flex;
	flex-direction: column;
	left: 0;
	right: 0;
	width: 30vw;
	padding: 0.6rem;
	background-color: var(--primary);
	color: var(--primary-text);
	border: 2px solid var(--secondary);
	border-radius: 0.5rem;
	opacity: 1;
	z-index: 1000;
	word-break: break-word;
	transition: 0.3s all;
	animation: prompt-show 0.2s linear;
}
@keyframes prompt-show {
	from {
		opacity: 0;
		top: 1.5rem;
	}
	to {
		opacity: 1;
		top: 2rem;
	}
}
.floating-prompt-hidden {
	opacity: 0;
	top: 1.5rem;
}
.prompt-button {
	background-color: var(--primary);
	color: var(--primary-text);
	border: none;
	padding: 0.5rem 2rem;
	border-radius: 0.3rem;
	cursor: pointer;
}
.prompt-input {
	margin-top: 0.5rem;
	border-radius: 0.3rem;
	border: none;
	padding: 0.3rem;
}
.prompt-overlay {
	width: 100%;
	height: 100%;
	background-color: rgba(60, 68, 83, 0.7);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	transition: all 0.2s;
	animation: overlay-show 0.2s linear;
}
@keyframes overlay-show {
	0% {
		opacity: 0.5;
	}
	to {
		opacity: 1;
	}
}
.prompt-overlay-hidden {
	opacity: 0;
}
a {
	text-decoration: none;
}
.welcome-message {
	position: absolute;
	width: 60vw;
	min-height: 60vh;
	max-height: 90vh;
	background-color: var(--primary);
	z-index: 500;
	border: solid 1px var(--secondary);
	align-self: center;
	border-radius: 0.8rem;
	padding: 0.8rem;
	color: var(--primary-text);
	display: flex;
	flex-direction: column;
}
.welcome-overflow {
	overflow-y: auto;
}
.welcome-message-title {
	font-size: 1.5rem;
	text-align: center;
	margin-bottom: 2rem;
}
.welcome-message-button-wrapper {
	display: flex;
	margin-top: auto;
	justify-content: flex-end;
}
.welcome-message-button {
	border: none;
	padding: 0.4rem 1rem;
	border-radius: 0.2rem;
	background-color: limegreen;
	color: white;
	margin-top: 0.5rem;
	cursor: pointer;
}
.red-text {
	color: rgb(255, 51, 74);
	display: inline-block;
}
.donate-button {
	margin-top: auto;
	width: 100%;
	background-color: var(--accent);
	padding: 0.8rem;
	color: var(--accent-text);
	border-radius: 0.5rem;
	text-align: center;
	text-decoration: none;
	font-size: 1.2rem;
	cursor: pointer;
}
.drag-n-drop {
	background-color: #4f6f6c;
	color: white;
	width: 100vw;
	height: 100vh;
	position: absolute;
	z-index: -1;
	justify-content: center;
	align-items: center;
	display: flex;
	font-size: 1.5rem;
}

.prompt-row {
	display: flex;
	width: 100%;
	margin-top: 0.5rem;
	justify-content: space-between;
}

.settings-row-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0.4rem 0;
    margin-bottom: 0.7rem;
}
/* width */
::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--primary);
	border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.record-button {
	position: absolute;
	right: 0.8rem;
	top: 0.8rem;
}

.approaching-accuracy {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	color: var(--primary-text);
	padding: 0.4rem;
	background-color: var(--primary);
	font-weight: bold;
	border-radius: 0.4rem;
}
.approaching-accuracy table {
	font-size: 0.8rem;
	border-collapse: collapse;
}
.bg-image {
	background-size: cover;
	background-repeat: no-repeat;
}
.sc-2 {
	padding-right: 0.5rem;
}
.sc-1 {
	padding-left: 0.5rem;
	min-width: 3.5rem;
	border-left: solid 2px var(--secondary);
}

.default-page {
	display: flex;
	overflow-y: auto;
	max-height: 100%;
	width: 100%;
	padding: 2rem 20vw;
	flex-direction: column;
	color: var(--background-text);
}
.default-content {
	width: 100%;
	display: flex;
	flex-direction: column;
	flex: 1;
}
@media only screen and (max-width: 900px) {
	.floating-prompt {
		width: 45vw;
		padding: 0.5rem;
	}
	.slider-wrapper {
		margin-left: 0;
	}
	.default-page {
		padding: 1rem 1.4rem 1rem 5rem;
	}
}
