:root {
	--primary: #495466;
	--primary-text: #ede5d8;
	--secondary: #8c7063;
	--secondary-text: #ede5d8;
	--background: #394248;
	--background-text: #ede5d8;
	--accent: #63aea7;
	--accent-text: #151414;
	--menu-background: rgba(237, 229, 216, 0.95);
	--menu-background-text: ;
	--icon-color: #d3bd8e;
	--icon-color-text: #151414;
	--note-background: #fff9ef;
	--note-background-text: #aaaa82;
	--clicked-note: #8fedd9;
	--whitish: #ede5d8;
	--hint-main: #949494;
	--red: rgb(242 75 91);
	--red-bg: rgb(193 81 92);
	--green: #358a55;
	--orange: #dd8d46;
	--text-dark: #151414;
	--text-light: #edeae5;
}

@font-face {
	font-family: Bonobo;
	src: url("../assets/font/BonoboBold.ttf");
	font-display: swap;
}

.loading {
	color: var(--background-text);
	font-size: 2rem;
	grid-row: 1;
	grid-column: 2/-1;
}

html,
body {
	width: 100%;
	height: 100%;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	overscroll-behavior-y: contain;
	touch-action: pan-x pan-y;
}

body {
	position: absolute;
	-webkit-text-size-adjust: none;
	background-color: var(--background);
	color: var(--background-text);
}

.keyboard-key {
	padding: 0.2rem 0.4rem;
	border-radius: 0.2rem;
	min-width: 2rem;
	text-align: center;
	margin-bottom: 0.1rem;
	background-color: var(--primary);
	color: var(--primary-text);
	width: 10rem;
	display: inline-block;
}

.keys-table :nth-child(2) {
	width: 100%;
}

input {
	accent-color: var(--accent);
	cursor: pointer;
}
input[type="text"],input[type="number"] {
	cursor: text;
}
*:not(input) {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	box-sizing: border-box;
	font-family: Bonobo, Arial;
	outline: none;
	-webkit-tap-highlight-color: transparent;
}

body {
	background-color: var(--background);
}

.disabled {
	filter: brightness(0.7);
}

.keyboard-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
}

#root {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
}

.app,
.app-content {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.app-content {
	z-index: 2;
}

.app-button {
	background-color: var(--primary);
	color: var(--primary-text);
	border-radius: 0.2rem;
	padding: 0.5rem 1rem;
	border: none;
	height: fit-content;
	cursor: pointer;
	min-width: 5rem;
	transition: background-color 0.2s, color 0.2s, filter 0.2s;
}

.link {
	color: var(--background-text);
}

.app-button::placeholder {
	color: var(--primary-text);
}

.app-button:hover {
	filter: brightness(1.1);
}

.app-button.active {
	background-color: var(--accent) !important;
	color: var(--accent-text) !important;
}

.app-button:disabled {
	opacity: 0.8;
	cursor: not-allowed;
}

.selected {
	transition: all 0.3s;
	background-color: var(--accent);
	color: var(--accent-text);
}

.right-panel {
	flex: 1;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.hidden {
	display: none !important;
}

.slider-select {
	width: 3rem;
	font-size: 0.8rem;
	height: 2rem;
	text-align: center;
	font-weight: bold;
	border: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-appearance: none;
	background-image: none;
	border-radius: 0.3rem;
	background-color: var(--primary);
	color: var(--primary-text);
	margin-left: 0.5rem;
}
.metronome-button{
	position: absolute;
	min-width: unset;
	padding: 0;
	width: 2rem;
	height: 2rem;
	right: 0.8rem;
	bottom: 0.8rem;
}
.hidden-opacity {
	opacity: 0;
	pointer-events: none;
}

.slider-wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	transition: all 0.3s;
	opacity: 1;
	margin-top: 1.6rem;
	margin-left: 3.5rem;
}

.slider-wrapper button {
	margin: 0;
}

.upper-right {
	display: flex;
	width: 100%;
	justify-content: center;
}

.red {
	background-color: red;
}

.floating-prompt {
	position: absolute;
	margin-right: auto;
	margin-left: auto;
	top: 1rem;
	display: flex;
	flex-direction: column;
	left: 0;
	right: 0;
	width: 30vw;
	max-width: 24rem;
	padding: 0.6rem;
	background-color: var(--primary);
	color: var(--primary-text);
	border: 2px solid var(--secondary);
	border-radius: 0.5rem;
	opacity: 1;
	z-index: 1000;
	word-break: break-word;
	transition: 0.3s all;
	animation: prompt-show 0.2s;
}

@keyframes prompt-show {
	from {
		opacity: 0;
		transform: translateY(-20%);
	}

	to {
		opacity: 1;
		transform: translateY(0%);
	}
}

.floating-prompt-hidden {
	opacity: 0;
	transform: translateY(-20%);
}

.prompt-button {
	background-color: var(--primary);
	color: var(--primary-text);
	border: none;
	padding: 0.5rem 2rem;
	border-radius: 0.3rem;
	cursor: pointer;
}

.prompt-input {
	margin-top: 0.5rem;
	border-radius: 0.3rem;
	border: none;
	padding: 0.3rem;
}

.prompt-overlay {
	width: 100%;
	height: 100%;
	background-color: rgba(60, 68, 83, 0.7);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	transition: all 0.2s;
	animation: overlay-show 0.2s linear;
}

@keyframes overlay-show {
	0% {
		opacity: 0.5;
	}

	to {
		opacity: 1;
	}
}

.prompt-overlay-hidden {
	opacity: 0;
}

a {
	text-decoration: none;
}

.welcome-message {
	position: absolute;
	width: 60vw;
	min-height: 60vh;
	max-height: 90vh;
	background-color: var(--primary);
	z-index: 500;
	border: solid 1px var(--secondary);
	align-self: center;
	border-radius: 0.8rem;
	padding: 0.8rem;
	color: var(--primary-text);
	display: flex;
	flex-direction: column;
}

.welcome-overflow {
	overflow-y: auto;
}

.welcome-message-title {
	font-size: 1.5rem;
	text-align: center;
	margin-bottom: 2rem;
}

.welcome-message-button-wrapper {
	display: flex;
	margin-top: auto;
	justify-content: flex-end;
}

.welcome-message-button {
	border: none;
	padding: 0.4rem 1rem;
	border-radius: 0.2rem;
	background-color: limegreen;
	color: white;
	margin-top: 0.5rem;
	cursor: pointer;
}

.red-text {
	color: rgb(255, 51, 74);
	display: inline-block;
}

.donate-button {
	margin-top: auto;
	width: 100%;
	background-color: var(--accent);
	padding: 0.8rem;
	color: var(--accent-text);
	border-radius: 0.5rem;
	text-align: center;
	text-decoration: none;
	font-size: 1.2rem;
	cursor: pointer;
}

.drag-n-drop {
	background-color: var(--accent);
	filter: contrast(0.7) brightness(0.7);
	color: var(--accent-text);
	width: 100vw;
	height: 100vh;
	position: absolute;
	z-index: -1;
	justify-content: center;
	align-items: center;
	display: flex;
	font-size: 1.5rem;
	animation: infinite drop-pulse 3s;
}

@keyframes drop-pulse {
	0% {
		filter: contrast(0.7) brightness(0.7);
	}

	25% {
		filter: contrast(0.7) brightness(0.9);

	}

	50% {
		filter: contrast(0.7) brightness(0.7);
	}
}

.prompt-row {
	display: flex;
	width: 100%;
	margin-top: 0.5rem;
	justify-content: space-between;
}

.settings-row-wrap {
	display: flex;
	flex-wrap: wrap;
	gap: 0.2rem;
	justify-content: space-between;
	margin: 0.4rem 0;
	margin-bottom: 0.7rem;
}

/* width */
::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--primary);
	border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.record-button {
	position: absolute;
	right: 0.8rem;
	top: 0.8rem;
}

.approaching-accuracy {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	color: var(--primary-text);
	padding: 0.4rem;
	background-color: var(--primary);
	font-weight: bold;
	border-radius: 0.4rem;
}

.approaching-accuracy table {
	font-size: 0.8rem;
	border-collapse: collapse;
}

.bg-image {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.sc-2 {
	padding-right: 0.5rem;
}

.sc-1 {
	padding-left: 0.5rem;
	min-width: 3.5rem;
	border-left: solid 2px var(--secondary);
}

.default-page {
	display: flex;
	overflow-y: auto;
	max-height: 100%;
	width: 100%;
	padding: 2rem 20vw;
	flex-direction: column;
	color: var(--background-text);
}

.default-content {
	width: 100%;
	display: flex;
	flex-direction: column;
	flex: 1;
}
.has-tooltip{
	position: relative;
}

@media (hover:hover) {
	.has-tooltip:hover:not(:focus){
		z-index: 2;
	}
	.has-tooltip:hover:not(:focus) .tooltip{
		display: block;
		animation: fadeIn 0.2s;
		animation-delay: 0.5s;
		animation-fill-mode: forwards;
	}

}
@media (hover:none) {
	.has-tooltip:active{
		z-index: 2;
	}
	.has-tooltip:active .tooltip{
		display: block;
		animation: fadeIn 0.2s;
		animation-delay: 0.5s;
		animation-fill-mode: forwards;
	}
}

.tooltip {
	display: none;
	opacity: 0;
	position: absolute;
	background-color: var(--secondary);
	color: var(--secondary-text);
	padding: 0.3rem 0.6rem;
	border-radius: 0.2rem;
	max-width: 10rem;
	width: fit-content;
	z-index: 20;
	box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.15), 0 2px 4px -2px rgb(0 0 0 / 0.15);
	font-size: 0.8rem;
	pointer-events: none;
	z-index: 2;

}

.tooltip-bottom {
	transform: translateY(100%);
	bottom: -0.4rem;
}

.tooltip-top {
	transform: translateY(-100%);
	top: -0.4rem;
}

.tooltip-left {
	transform: translateX(-50%);
}

.tooltip-right {
	transform: translateY(-50%);
}

.tooltip::before {
	content: "";
	transform: translateY(-50%) rotate(45deg);
	position: absolute;
	width: 0.5rem;
	height: 0.5rem;
	background-color: var(--secondary);
}

.tooltip-bottom::before {
	right: calc(50% - 0.25rem);
	top: 0;
	border-top-right-radius: 2px;
}

.tooltip-top::before {
	bottom: 0;
	right: calc(50% - 0.25rem);
	border-bottom-right-radius: 2px;
	transform: translateY(50%) rotate(45deg);
}

.tooltip-left::before {
	right: -0.25rem;
	top: 50%;
	border-bottom-left-radius: 2px;
}

.tooltip-right::before {
	left: -0.25rem;
	top: 50%;
	border-bottom-right-radius: 2px;
	transform: translateY(50%) rotate(45deg);
}
.help-tooltip ul{
	margin: 0.2rem;
	padding-left: 0.6rem;
}
.help-tooltip li{
	margin-bottom: 0.2rem;
}
.help-tooltip-button{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--primary);
	color: var(--primary-text);
	padding: 0;
	width: 1.8rem;
	height: 1.8rem;
	cursor: pointer;
	border-radius: 50%;
	border: 0;
	transition: all 0.2s;
}
.help-tooltip-button:hover{
	transform: rotate(30deg);
	filter: brightness(1.1);
}
.help-tooltip-content{
	position: absolute;
	transform: translateY(0.4rem) ;
	display: none;
	box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.15), 0 4px 6px -4px rgb(0 0 0 / 0.15);
	border: solid 2px var(--secondary);
	padding: 0.3rem 0.6rem;
	border-radius: 0.4rem;
	font-size: 0.8rem;
	z-index: 2;
	pointer-events: none;
}

.help-tooltip-button:focus + .help-tooltip-content{
	display: flex;
	background-color: var(--primary);
	color: var(--primary-text);
	animation: fadeIn 0.3s;
	animation-fill-mode: forwards;
}
.help-tooltip-button:focus{
	background-color: var(--accent);
	color: var(--accent-text);
}

.folder{
	display: flex;
	flex-direction: column;
	border-radius: 0.4rem;
	margin: 0.4rem 0;
}
.folder-header{
	padding: 0.5rem;
	border-radius: 0.4rem 0.4rem 0 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.folder-header-button{
	display: flex;
	align-items: center;
	flex: 1;
	cursor: pointer;
	padding: 0.25rem;
}
.folder-header-button input{
	background-color: transparent;
	color: var(--menu-background-text);
	border: none;
	outline: solid 2px var(--secondary);
	font-family: Bonobo;
	border-radius: 0.2rem;
}

.folder-content{
	padding: 0.5rem;
	padding-top: 0;
	flex-direction: column;
	opacity: 1;
	transition: all 0.2s;
}
.folder-songs-wrapper{
	display: grid;
	grid-template-columns: 1fr;
	gap: 0.3rem;
}

.folder-overflow{
	overflow: hidden;
	transition: all 0.2s;
}
.folder-overflow-expandible{
	transition: all 0.2s;
}
.folder-expanded .folder-overflow{
	animation: show-folder 0.2s;
	animation-fill-mode: forwards;
}

/* Super hacky way to make overflow work */
@keyframes show-folder  {
	99%{ 
		overflow: hidden;  
	}
	100%{
		overflow: unset;
		
	}
}

.folder-title{
	margin: 0 0 0.4rem 0rem;
	font-size: 1.1rem;
}
.folder-name{
	font-size: 1.2rem;
	padding: 0;
	max-width: 20rem;
	padding-left: 0.3rem;

}

@media only screen and (max-width: 900px) {
	.folder-header{
		padding: 0.4rem;
	}
	.folder-content{
		padding: 0.4rem;
	}
	.floating-prompt {
		width: 45vw;
		padding: 0.5rem;
	}

	.slider-wrapper {
		margin-left: 0;
	}

	.default-page {
		padding: 1rem 1.4rem 1rem 5rem;
	}
}