

.row{
    display: flex;
    flex-direction: row;
}
.row-centered{
    align-items: center;
}
.flex-grow{
    display: flex;
    flex: 1;
}
.space-between{
    justify-content: space-between;
}
.flex-centered{
    display: flex;
    align-items: center;
    justify-content: center;
}
.column {
	display: flex;
	flex-direction: column;
}
.text-ellipsis{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.box-shadow{
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
@keyframes fadeIn{
    from{
        opacity: 0;
        transform: scale(0.9) inherit;
    }
    to{
        opacity: 1;
        transform: scale(1) inherit;
    }
}
@keyframes appearLeft{
    from{
        transform: translateX(-0.5rem);
        opacity: 0.6;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes disappearAbove{
    from{
        transform: translateY(0);
        opacity: 1;
    }
    to{
        transform: translateY(-1rem);
        opacity: 0;
    }
}