.error-page {
	background-color: #863545;
	color: white;
	flex-direction: column;
	justify-content: center;
	padding-top: 10vh;
}
.error-buttons-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 4vh;
}
.error-logs{
	display: flex;
	flex-direction: column-reverse;
	padding: 0.5rem;
	background-color: var(--primary);
	color: var(--primary-text);
	border-radius: 0.5rem;
	.error-log-row{
		word-break: break-word;
		border-top: solid 1px var(--secondary);
		padding: 0.5rem;
	}
	:last-child{
		border-top: unset;
	}
}

.error-songs-wrapper {
	padding: 0.4rem;
	margin-top: 4vh;
	border-radius: 0.5rem;
	display: grid;
	gap: 0.4rem;
	max-height: 40vh;
	min-height: 3.6rem;
}
.error-go-back {
	position: absolute;
	left: 1rem;
	top: 1rem;
}