.player-chunks-page {
    position: absolute;
    width: 60vw;
    max-width: 45rem;
    margin-left: auto;
    margin-right: auto;
    top: 0.8rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.2rem
}

@media only screen and (max-width: 920px) {
    .player-chunks-page {
        width: 45vw;
    }
}

.player-controls {
    position: absolute;
    align-items: flex-end;
    padding: 0.8rem;
    right: 0.2rem;
    height: 100%;
    margin-left: 3.5rem;
    justify-content: space-between;
    gap: 0.4rem;
}
