.vsrg-page {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: 
        'a b'
        'c c';
    flex: 1;
    grid-template-rows: calc(100% - 2.9rem) min-content;
    grid-template-columns: 1fr min-content;
    gap: 0.4rem;
    padding: 0.5rem;
}

.vsrg-top {
    display: flex;
    flex: 1;
    height: 100%;
    max-height: 100%;
    margin-bottom: 0.6rem;
}

.vsrg-top-canvas-wrapper {
    grid-area: a;
    display: flex;
    flex: 1;
    justify-content: center;
    position: relative;
}
.vsrg-top-canvas-wrapper canvas {
    position: absolute;
    border-radius: 0.6rem;
}
.vsrg-top-right {
    display: flex;
    grid-area: b;
    flex-direction: column;
    width: 13.6rem;
}
.vsrg-top-right-disabled .vsrg-track-wrapper{
    pointer-events: none;
    opacity: 0.5;
}

.vsrg-select-song-wrapper{
    margin-top: 0.5rem;
    border: dotted 4px var(--accent);
    padding: 0 0.4rem;
    border-radius: 0.4rem;
}
.vsrg-track {
    height: 3rem;
    min-height: 3rem;
    transition: background-color 0.15s;
    cursor: pointer;
    overflow: hidden;
    border-bottom: solid 2px var(--secondary);
}
.vsrg-track-left{
    width: 2rem;
    font-size: 1rem;
    height: 100%;
    min-width: 2rem;
    padding: 0;
    border-radius: 0;
}

.vsrg-floating-settings {
    position: absolute;
    right: calc(13.6rem + 0.8rem);
    width: 18rem;
    background-color: var(--menu-background);
    color: var(--menu-background-text);
    border-radius: 0.6rem;
    border: solid 2px var(--secondary);
    top: 0.5rem;
    padding: 0.4rem;
    animation: fadeAndScaleIn 0.15s ease-in-out forwards;
}

.vsrg-track-settings {
    position: absolute;
    bottom: 0.1rem;
    left: 0.1rem;
    padding: 0;
    width: 1.2rem;
    height: 1.2rem;
    background-color: transparent;
    min-width: unset;
}

.vsrg-track-wrapper {
    min-height: 5rem;
    background-color: var(--primary);
    margin-bottom: 0.4rem;
    border-radius: 0.6rem;
    overflow-y: auto;
}
.vsrg-track-wrapper::-webkit-scrollbar-thumb {
    background: var(--secondary);
}
.vsrg-keyboard {
    margin-top: auto;
    display: grid;
    gap: 0.15rem;
}

.vsrg-keyboard button {
    width: 100%;
    transition: all 0.2s;
    cursor: pointer;
    border-radius: 0.2rem;
    aspect-ratio: 1;
    min-height: 1.4rem;
    background-color: var(--icon-color);
    border: none;
}

.vsrg-bottom {
    grid-area: c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 3.2rem;
    height: 2.5rem;
}
.vsrg-bottom input[type='range']{
    max-width: 30rem;
}
.vsrg-name{
    text-align: center;
    margin-left: 1rem;
    max-width: 18vw;
}
.multiple-option-slider {
    display: grid;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
    height: 100%;
    padding: 0.2rem;
    width: fit-content;
    border-radius: 3rem;
    position: relative;
    background-color: var(--primary);
}

.multiple-option-slider button {
    height: 100%;
    padding: 0 1.4rem;
    color: var(--primary-text);
    transition: color 0.2s;
    z-index: 2;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.multiple-options-selected {
    color: var(--accent-text) !important;
}

.multiple-option-slider-overlay {
    transition: all 0.15s ease-out;
    position: absolute;
    height: calc(100% - 0.4rem);
    top: 0.2rem;
    border-radius: 3rem;
    background-color: var(--accent);
}

.vsrg-play-button {
    color: var(--icon-color);
    border-radius: 0.4rem;
    height: 100%;
    margin-left: 0.6rem;
}

.track-modifier{
    padding: 0.4rem;
    background-color: var(--menu-background);
    color: var(--menu-background-text);
    border-radius: 0.3rem;
}
.vsrg-track-modifier-button{
    min-width: unset;
    padding: 0.2rem;
    height: 1.6rem;
    width: 2rem;
    font-size: 1rem;
}
.vsrg-composer-selected-song{
    gap: 0.4rem;
    padding: 0.6rem;
    border-radius: 0.4rem;
    margin-top: 0.4rem;
    background-color: var(--primary);
    color: var(--primary-text);
}
.vsrg-breakpoints-buttons button{
    display: flex;
    min-width: unset;
    height: 2rem;
    justify-content: center;
    border-radius: 0.4rem;
    align-items: center;
    flex: 1;
    padding: 0.2rem;
    margin-left: 0.2rem;
}

@media only screen and (max-width: 1000px){
    .vsrg-name{
        display: none;
    }
    .vsrg-top-right{
        width: 12.6rem;
    }
    .vsrg-page{
        grid-template-rows: calc(100% - 2.5rem) min-content;
    }
    .vsrg-bottom{
        height: 2.2rem;
        margin-left: 2.9rem;
    }
    .vsrg-keyboard button {
        aspect-ratio: unset;
        min-height: 1.5rem;
    }
    .vsrg-hamburger{
        width: 2.2rem;
        height: 2.2rem;
    }
    .vsrg-track{
        height: 2.4rem;
        min-height: 2.4rem;
    }

}