
.menu{
    width: 4rem;
    background-color: var(--primary);
    height: 100%;
    border-right: solid 2px var(--secondary);
    border-left: solid 2px var(--secondary);
    align-items: center;
    flex-direction: column;
    padding-top: 0.5rem;
    max-height: 100%;
    overflow-y: auto;
    z-index: 15;
    display: flex;
    margin-left: -4rem;
    transition: all 0.4s;
}
.menu-visible{
    margin-left: 0;
}
.margin-top-auto{
    margin-top: auto;
}
.menu-main-page{
    opacity: 0.9;
}
.hamburger{
    position: fixed;
    bottom: 0.5rem;
    left: 0.5rem;
    font-size: 1.5rem;
    width: 2.5rem;
    height: 2.5rem;
    max-width: 6vw;
    max-height: 6vw;
    color: var(--icon-color);
    background-color: var(--primary);
    border-radius: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.icon{
    font-size: 1.5rem;
}
.rotate-screen{
    width: 100%;
    height: 100%;
    z-index: 1000;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    flex-direction: column;
    background-color: var(--primary);
    color: var(--icon-color);
    font-size: 1.5rem;
}
.rotate-screen img{
    width: 60vw;
    margin-bottom: 3rem;
    background-color: var(--primary);
    filter: brightness(1.1);
    padding: 1.5rem;
    border-radius: 1rem;
}
.menu-wrapper{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: row;
    z-index: 11;
}

.library-search-result-text{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.side-menu{
    width: 40vw;
    border-radius: 0.3rem;
    border-top-left-radius: unset;
    border-bottom-left-radius: unset;
    height: 100%;
    background-color: var(--menu-background);
    color: var(--menu-background-text);
    transform: scale(0.9);
    transition: all 0.3s;
    opacity: 0;
    padding: 1rem;
    display: flex;
    left: -40vw;
    position: fixed;
}
.menu-open{
    transform: scale(1);
    left: 4rem !important;
    opacity: 1;
}
.menu-panel{
    width: 100%;
    display: none;
    flex: 1;
    flex-direction: column;
    
}
.menu-panel-visible{
    display: flex;
    animation: appearLeft 0.3s;
}

.songs-buttons-wrapper{
    display:flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.2rem;
}
.library-search-row{
    display: flex;
    width: 100%;
    margin: 1rem 0 0.2rem 0;
}
.library-search-input{
    box-sizing: border-box;
    padding: 0 1rem;
    outline: none;
    color: var(--menu-background-text);
    background-color: #d3bd8e;
    display: flex;
    flex:1;
    height: 2.2rem;
    border: none;
    border-radius: 0.3rem;
}
.library-search-input::placeholder{
    color: var(--menu-background-text);
}
.library-search-btn{
    background-color: #d3bd8e;
    color: var(--menu-background-text);
    height:2.2rem;
    width: 2.2rem;
    border: none;
    cursor: pointer;
    margin-left: 0.2rem;
    border-radius: 0.3rem;
    font-size: 1rem;
    transition: all 0.2s;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.library-search-btn:hover{
    filter: brightness(1.1);
}
.songs-wrapper,.library-search-songs-wrapper{
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    padding: 0.5rem;
    background-color: #ad9c85;
    padding-top: 1rem;
    margin: 0;
    display: grid;
    flex-direction: column;
    gap: 0.3rem;
    min-height: 4rem;
}
.library-search-songs-wrapper{
    border-radius: 0.3rem;
    padding-top: 0.5rem;
}
.tab-selector-wrapper{
    display: flex;
    margin-top: 1rem;
    gap: 0.2rem;
}
.tab-selector{
    flex: 1;
    white-space: nowrap;
    border: none;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    background-color: #d3bd8e;
    color: var(--menu-background-text);
    font-size: 1rem;
    padding: 0.4rem;
    cursor: pointer;
    margin: 0;
    transition: all 0.2s;
}
.tab-selected{
    background-color: #ad9c85;
}
.inverted{
    filter: invert(1);
}
.song-row{
    display: flex;
    flex:1;
    background-color: var(--primary);
    border-radius: 0.3rem;
    color: var(--primary-text);
    justify-content: space-between;
    align-items: flex-start;
    padding: 0.4rem;
    transition: all 0.2s;
}

.panel-content-wrapper{
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-right: -0.5rem;
    padding-right: 0.5rem;
}
.song-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    color: var(--primary-text);
    border-radius: 0.3rem;
    height: 2rem;
    width: 2rem;
    font-size: 1rem;
    border: none;
    margin-right: 0.4rem;
    cursor: pointer;
    padding: 0;
}

.floating-dropdown-active .floating-children-bottom{
	display: flex;
	animation: fadeIn 0.3s;
	animation-fill-mode: forwards;
}
.floating-children-bottom{
	flex-direction: column;
	box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.2), 0 8px 10px -6px rgb(0 0 0 / 0.2);
	display: none;
	position: absolute;
	transform: translateX(calc(-100% + 3rem));
	z-index: 100;
	padding: 0.2rem;
	background-color: var(--primary);
	color: var(--primary-text);
	border: solid 1px var(--secondary);
	border-radius: 0.4rem;
}
.floating-dropdown{
    position: relative;
}
.dropdown-select{
    background-color: var(--primary);
    padding: 0.5rem 0;
    height: 100%;
    flex: 1;
    color: var(--primary-text);
    border: none;
}
.floating-dropdown-text{
    display: flex;
    font-size: 0.8rem;
    white-space: nowrap;
}
.floating-dropdown-active .floating-children-bottom{
	display: flex;
	animation: fadeIn 0.2s;
	animation-fill-mode: forwards;

}

.song-name{
    flex: 1;
    cursor: pointer;
    word-break: break-word;
    display: flex;
    height: 100%;
    align-items: center;
    font-size: 1rem;
    padding-right: 0.45rem;
}
.song-name-input{
	background-color: transparent;
    font-size: 1rem;
    font-family: Bonobo;
	padding: 0;
	margin: 0;
	height: 100%;
	border: none;
    padding-left:  0.3rem;
    cursor: pointer;

}
.song-rename{
	outline: solid 2px var(--secondary);
	border-radius: 0.2rem;
    cursor: text;
}

.song-buttons-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-title{
    font-size: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
.menu::-webkit-scrollbar-thumb {
	background: var(--icon-color);
	border-radius: 2px;
  }
.menu::-webkit-scrollbar {
	width: 3px;
  }
.menu-item{
    background-color: var(--primary);
    border: none;
    width: 2.8rem;
    height: 2.8rem;
    min-height: 2.8rem;
    margin-bottom: 0.6rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--icon-color);
    cursor: pointer;
    transition: all 0.3s;
}

.menu-item a{
    color: var(--icon-color);
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.menu-item:hover{
    filter: brightness(1.2);
}
@media only screen and (max-width: 900px) {
    .side-menu{
        padding: 0.5rem;
        width: 60vw;
        left: -60vw;
        opacity: 1;
    }
    .menu-title{
        display: none;
        font-size: 1rem;
        margin-bottom: 0.5rem;
        justify-content: flex-start;
    }
    .menu{
        width: 3.6rem;
        padding-top: 0.3rem;
    }
    .menu-item{
        width: 2.8rem;
        height: 2.8rem;
        margin-bottom: 0.4rem;
    }
    .menu-open{
        left: 3.6rem !important;
    }
    .tab-selector-wrapper{
        margin-top: 0.5rem;
    }
    .panel-content-wrapper{
        margin-right: -0.3rem;
        padding-right: 0.2rem;
    }
}
@media screen and (orientation:portrait) {
    .rotate-screen{
        display: flex;
    }
}