.two-way-slider{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}
.two-way-slider-thumb{
    display: flex;
    transform: translate(-100%, -50%);
    color: var(--accent);
    position: absolute;
    text-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px;
}
.two-way-slider-thumb svg{
    transform: rotate(90deg);
    margin-left: 0.2rem;
}
.slider-outer{
    width: 1rem;
	position: relative;
	margin-top: 0;
    touch-action: none;
    height: 100%;
    cursor: pointer;
}
.slider-full{
    height: 100%;
    width: 100%;
	background-color: var(--primary);
	border-radius: 0.2rem;
    overflow: hidden;
}
.slider-current{
	height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: all 0.1s linear;
    background-color: var(--accent);
	left: 0;
    top: 0;
}
.hidden-slider {
	width: 100%;
	margin: 0;
    height: 100%;
    cursor: pointer;
}

