.donate-text {
    margin: 0 1rem;
    line-height: 1.3rem;
}

.donation-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    margin-top: 2rem;
}

.donation-wrapper a {
    margin-top: 0.5rem;
}

.paypal,
.kofi {
    background-color: #efefef;
    padding-left: 1rem;
    height: 3rem;
    border-radius: 0.8rem;
}

.kofi {
    background-color: white;
    padding: 0.5rem 1rem;
}