.donate-page{
    display: flex;
    overflow-y: auto;
    max-height: 100%;
    padding: 2rem 20vw;
    flex-direction: column;
    color: var(--whitish);
}
.donate-text {
    margin:0 1rem;
    line-height: 1.3rem;
}
.donation-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    margin-top: 2rem;
}
.donation-wrapper a {
    margin-top: 0.5rem;
}
.paypal,.kofi {
    background-color: #efefef;
    padding-left: 1rem;
    height: 4rem;
    border-radius: 0.8rem;
}
.kofi{
    background-color: white;
    padding: 0.5rem 1rem;
}

.paypal {
    background-color: #efefef;
    padding-left: 1rem;
    height: 4rem;
    border-radius: 0.8rem;
}
@media only screen and (max-width: 900px) {
    .donate-page{
        padding: 1.5rem;
        padding-right: 2rem;
        padding-left: 5rem;
    }
}