.displayer-page {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	width: 100%;
	margin-left: 3.6rem;
	overflow-y: scroll;
	height: 100%;
}

.displayer-songs-wrapper {
	margin-top: 1rem;
	border-radius: 0.5rem;
	display: flex;
	flex-direction: column;
	width: 50vw;
	max-height: 40vh;
	overflow-y: auto;
	min-height: 3.6rem;
}

.displayer-plus-minus {
	width: 2rem;
	margin-left: 0.5rem;
	height: 2rem;
	font-size: 1.4rem;
	background-color: var(--primary);
	color: var(--whitish);
	border: none;
	border-radius: 0.2rem;
	cursor: pointer;
}

.displayer-plus-minus:hover {
	filter: brightness(1.1);
}

.displayer-frame {
	width: 94%;
	height: 90%;
	position: absolute;
	top: 5%;
	left: 3%;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(3, 1fr);
	background-color: var(--primary);
	justify-items: center;
	align-items: center;
}
.displayer-buttons-wrapper {
	color: var(--whitish);
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-top: 0.5rem;
	align-items: center;
}
.frame-outer {
	border-radius: 0.4rem;
	background-color: var(--primary);
	width: 100%;
	height: 100%;
	padding: 0.2rem;
	padding-bottom: 50%;
	position: relative;
}
.frame-note-s {
	border-radius: 0.2rem;
	width: 80%;
	height: 80%;
	background-color: var(--icon-color);
}
.frame-note-ns {
	border-radius: 50%;
	width: 40%;
	padding-bottom: 40%;
	background-color: #606876;
}

.displayer-frame-wrapper {
	width: 80vw;
	margin-top: 1rem;
	display: grid;
	justify-items: center;
	gap: 0.5rem;
	border-top: solid 1px var(--secondary);
	padding-top: 1rem;
	grid-template-columns: repeat(5, 1fr);
	justify-content: center;
}
@media only screen and (max-width: 900px) {
	.displayer-page {
		padding: 1rem 5vw;
	}
}
.onprint {
	display: none;
}
@media print {
	.frame-note-s {
		border: solid 4px black;
		border-style: inset;
	}
	.displayer-page {
		overflow: unset;
	}
	.frame-outer {
		border: solid 1px black;
	}
	.noprint {
		display: none;
	}
	.onprint {
		display: flex;
	}
}
