.displayer-page {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	width: 100%;
	margin-left: 3.6rem;
	overflow-y: scroll;
	height: 100%;
}

.displayer-songs-wrapper {
	margin-top: 1rem;
	border-radius: 0.5rem;
	display: flex;
	flex-direction: column;
	width: 50vw;
	height: 40vh;
	overflow-y: auto;
	min-height: 3.6rem;
}

.displayer-plus-minus {
	width: 2rem;
	margin-left: 0.5rem;
	height: 2rem;
	padding: 0;
	font-size: 1.4rem;
	background-color: var(--primary);
	color: var(--primary-text);
	border: none;
	border-radius: 0.2rem;
	cursor: pointer;
}

.displayer-plus-minus:hover {
	filter: brightness(1.1);
}

.displayer-frame {
	width: 94%;
	height: 90%;
	position: absolute;
	top: 5%;
	left: 3%;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(3, 1fr);
	background-color: var(--primary);
	justify-items: center;
	align-items: center;
}
.displayer-buttons-wrapper {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-top: 0.5rem;
	align-items: center;
}
.frame-outer {
	border-radius: 0.4rem;
	background-color: var(--primary);
	width: 100%;
	height: 100%;
	border: solid var(--primary) 0.18rem;
	padding-bottom: 50%;
	position: relative;
}

.frame-note-s {
	border-radius: 0.2rem;
	width: 80%;
	height: 80%;
	font-size: 0.6rem;
	display: flex;
	justify-content: center;
	align-items: center;	
	background-color: var(--accent);
	color: var(--accent-text);
}
.frame-note-ns {
	border-radius: 50%;
	width: 40%;
	padding-bottom: 40%;
	background-color: var(--primary);
}

.displayer-frame-wrapper {
	width: 100%;
	margin-top: 1rem;
	display: grid;
	justify-items: center;
	gap: 0.5rem;
	border-top: solid 1px var(--secondary);
	padding-top: 1rem;
	grid-template-columns: repeat(5, 1fr);
	justify-content: center;
}
.onprint {
	display: none;
}
.text-notation-wrapper{
	background-color: var(--primary);
	color: var(--primary-text);
	border-radius: 0.5rem;
	border: solid 1px var(--secondary);
	padding: 1rem;
	width: 100%;
	white-space: pre-wrap;
	-webkit-user-select: text;
	user-select: text;
	cursor: text;
	margin-top: 2rem;
}
.displayer-ball{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	border-color: transparent;
	background-color: transparent;
}

.displayer-ball div{
	width: 0.5rem;
	height: 0.5rem;
	background-color: #606876;
	border-radius: 50%;
	opacity: 0.5;
}

@media only screen and (max-width: 900px) {
	.displayer-page {
		padding: 1rem 5vw;
	}
}

@media print {
	.frame-note-s {
		border: solid 4px black;
		border-style: inset;
	}
	.displayer-page {
		overflow: unset;
	}
	.frame-outer {
		border: solid 1px black;
	}
	.noprint {
		display: none;
	}
	.onprint {
		display: flex;
	}
}
