.instrument-picker {
    display: flex;
    flex-direction: column;
    width: 8rem;
}

.select {
    background-color: var(--primary);
    border-radius: 0.2rem;
    border: none;
    color: var(--primary-text);
    padding: 0.5rem;
}

.select:focus {
    outline: none;
}

.select option:checked {
    color: var(--accent);
}

.instrument-picker input[type="range"] {
    margin-top: 0.2rem;
}

.settings-group-title {
    font-size: 1.3rem;
    margin: 0.5rem 0;
}

.settings-row {
    display: flex;
    justify-content: space-between;
    padding: 0.4rem;
    border-radius: 0.2rem;
    color: var(--menu-background-text);
    align-items: center;
    margin-bottom: 0.3rem;
}

.settings-row div {
    display: flex;
    align-items: center;
}

.settings-row :is(input,select) {
    background-color: var(--primary);
    color: var(--primary-text);
    border: none;
    text-align: center;
    width: 8rem;
    padding: 0.2rem;
    border-radius: 0.2rem;
}

.settings-row input[type=range] {
    padding: 0;
    margin: 0;
}

.settings-row .invalid {
    background-color: var(--red) !important;
}

.settings-input {
    display: flex;
    width: 8rem;
}

.settings-input input {
    width: unset;
    min-width: 0;
    display: flex;
    text-align: center;
    height: 1rem;
    flex: 1;
}

.settings-input input::-webkit-outer-spin-button,
.settings-input input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.settings-input input[type=number] {
    -moz-appearance: textfield;
}

.settings-input-button {
    width: 1.4rem;
    height: 1.4rem;
    font-weight: bold;
    font-family: Arial;
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--primary);
    color: var(--primary-text);
    border-radius: 0.2rem;
    cursor: pointer;
    font-size: 0.7rem;
}