
.shortcut-element{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.4rem;
    padding: 0.4rem;
    width: min-content;
    min-width: 30vw;
    padding-left: 1rem;
    border-radius: 0.4rem;
    background-color: var(--primary);
    color: var(--primary--text);
}

@media screen and (max-width: 920px) {
    .shortcut-element{
        min-width: 50vw;
    }    
}
.shortcut-element-selected{
    outline: solid 0.1rem var(--accent);
}
.shortcut-button{
    background-color: var(--secondary);
    color: var(--secondary-text);
}