.error-page {
  background-color: #863545;
  color: white;
  flex-direction: column;
  justify-content: center;
  padding-top: 10vh;
  overflow-y: auto;
}

.error-buttons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 4vh;
}

.error-logs {
  display: flex;
  flex-direction: column-reverse;
  padding: 0.5rem;
  background-color: var(--primary);
  color: var(--primary-text);
  border-radius: 0.5rem;
}

.error-log-row {
  white-space: pre-wrap;
  border-top: solid 0.1rem var(--secondary);
  padding: 1rem 0.5rem;
  margin: 0;
}

.error-log-row:last-child {
  border-top: unset;
}

.error-songs-wrapper {
  padding: 0.4rem;
  margin-top: 4vh;
  border-radius: 0.5rem;
  display: grid;
  gap: 0.4rem;
  min-height: 3.6rem;
}
